# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# Django
db.sqlite3
*.log
staticfiles/
media/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.swp
*.swo

# Heroku
*.sqlite3

# Byte-compiled / optimized / DLL files
*.so

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Node
node_modules/
npm-debug.log
yarn-error.log
